/* ForgetPassword.css */
/* #forget-container {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

#forget-container {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

#forget-title {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
    text-transform: uppercase;
}

#forget-form-group-name,
#forget-form-group-email,
#forget-form-group-new-password,
#forget-form-group-confirm-password {
    margin-bottom: 20px;
    text-align: left;
}

#forget-form-group-name label,
#forget-form-group-email label,
#forget-form-group-new-password label,
#forget-form-group-confirm-password label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

#forget-name,
#forget-email,
#forget-new-password,
#forget-confirm-password {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 16px;
}

#forget-button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

#forget-button:hover {
    background-color: #45a049;
}

#forget-message {
    color: red;
    margin-top: 20px;
}
